{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>
            Lista wszystkich zamówień o statusie: {{ status }}
        </h1>
    </div>
    <div>
        {% for key, order in orders %}
            <article>
                <h1>
                    <a href="/orders/{{ order.id }}">
                        Zamówienie #{{ order.id }}
                    </a>
                </h1>
                <p>
                    Cena:
                    <strong>
                        {{ order.sumtotal }} zł
                    </strong>
                </p>
            </article>
        {% else %}
            <h3>
                Nie znaleziono produktów o podanych kryteriach
            </h3>
        {% endfor %}
    </div>
{% endblock %}