{# templates/orders/client-orders-product-all.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>
            Lista wszystkich zamówień
        </h1>
    </div>
    <div>
        {% for key, order in orders %}
            <article>
                <h1>
                    Nr zamówienia: {{ order.id }}
                </h1>
                <p>
                    Id uzytkownika:
                    <strong>
                        {{ order.client_id }}
                    </strong>
                </p>
                <p>
                    Suma całkowta: {{ order.sum_total }} zł
                </p>
                <p>
                    Status zamówienia: {{ order.status_id }}
                </p>
            </article>
        {% else %}
            <h3>
                Nie znaleziono produktów o podanych kryteriach
            </h3>
        {% endfor %}
    </div>
{% endblock %}
