{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>
            Lista wszystkich zamówień
        </h1>
    </div>
    <div>
        {% for key, order in orderings %}
            <article>
                <h1>
                    <a href="/orders/{{ order.id }}">
                        Nr zamówienia: {{ order.id }}
                    </a>
                </h1>
                <p>
                    Cena: {{ order.sumtotal }} zł
                </p>
            </article>
        {% else %}
            <h3>
                Nie znaleziono produktów o podanych kryteriach
            </h3>
        {% endfor %}
    </div>
{% endblock %}
